<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/body.ejs') %>
  <body>
    <h1>Calculate Your Grade Average</h1>
    <form action="/reslut">
      <% for (let i = 0; i < gradecount; i++) {%>
      <input class="gradeinput" />
      <% } %>
      <button type="submit">Submit</button>
    </form>

    <script>
      let inputs = document.getElementsByClassName("gradeinput");

      window.onload = () => {
        let count = 0;
        for (let input of inputs) {
          count++;
          input.name = `grade${count}`;
          input.placeholder = `Grade ${count}`;
          input.autocomplete = "off";
          input.required = true;
        }
      };
    </script>
  </body>
</html>
