<!-- Welcome page & grade number selector -->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/body.ejs') %>

  <body>
    <h1>Welcome To Grade calculator APP</h1>
    <h2>Calculate Your Grade Average</h2>
    <form action="/grades">
      <input
        style="position: relative"
        id="gradecounter"
        required
        autofocus
        autocomplete="off"
        name="gradecount"
        placeholder="How many grades?"
      />
      <button type="submit">Confirm</button>
    </form>
  </body>
</html>
