<!-- Bage (ejs file) that returns the reslut after calculation -->
<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/body.ejs') %>
  <body>
    <h1>Your Grade Average is <%= reslut %></h1>
    <button><a href="/">Back</a></button>
  </body>
</html>
